<!-- Información de inicio -->
<header class="gradient-bg text-center" id="inicio">
    <div class="container mt-5">
        <h1 class="display-3 fw-semibold">
            Haz realidad tus ideas con <span id="fluxText">Flux.dev</span>
        </h1>
        <h3 class="display-5 fw-normal">Desarrollo de Software y Páginas Web</h3>
        <p class="lead fw-normal mb-5">Creamos soluciones tecnológicas a medida para tu negocio.</p>
        <a href="#contacto" class="btn btn-primary btn-lg">¡Cotiza tu proyecto!</a>
    </div>
</header>

<!-- Nosotros -->
<section id="nosotros" class="py-5">
    <div class="container">
        <h2 class="text-center mt-4 mb-5">Sobre Nosotros</h2>
        <div class="row align-items-center">
            <!-- Texto -->
            <div class="col-12 col-md-6">
                <h4 class="fw-light">
                    <span id="fluxText">Flux.dev</span> es una microempresa emergente dedicada al desarrollo de software con un fuerte enfoque en
                    la innovación y la creación de soluciones digitales que marcan la diferencia. <br>
                    Nos hemos formado como un equipo comprometido con la excelencia y la búsqueda constante de nuevas oportunidades
                    en un mundo tecnológico en constante evolución.
                </h4>
            </div>
            <!-- Imagen -->
            <div class="col-12 col-md-6 text-center">
                <img src="/images/robot.jpg" class="img-fluid rounded" alt="robot_imagen" width="100%">
            </div>
        </div>

        <!-- Valores -->
        <h2 class="text-center mt-5 mb-4">Nuestros Valores</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Compromiso</h4>
                    <p>Nos dedicamos a ofrecer soluciones de calidad que se alineen con las necesidades específicas de cada cliente, brindando un servicio cercano, eficiente y confiable.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Innovación</h4>
                    <p>Apostamos por el constante aprendizaje y la aplicación de nuevas tecnologías para ofrecer resultados vanguardistas y de alto impacto.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Responsabilidad</h4>
                    <p>Cada proyecto que emprendemos lo hacemos con una actitud profesional, respetando plazos, presupuestos y expectativas.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Trabajo en equipo</h4>
                    <p>Fomentamos un ambiente colaborativo tanto con nuestros clientes como dentro de nuestro equipo.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Servicios -->
<section id="servicios" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Nuestros Servicios</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 mb-3">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Software a Medida</h4>
                    <p>Soluciones personalizadas según tus necesidades.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Páginas Web</h4>
                    <p>Diseño y desarrollo de sitios web modernos y optimizados.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Automatización</h4>
                    <p>Optimización de procesos con tecnología avanzada.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Contacto -->
<section id="contacto" class="text-center py-5 bg-dark">
    <div class="container">
        <h2>Contacto</h2>
        <p>Escríbenos en nuestras redes sociales para hacer realidad tu proyecto.</p>
        <div class="row d-flex align-items-center justify-content-center gap-2">
            <div class="col-auto">
                <a href="https://www.facebook.com/profile.php?id=61574156434583" target="_blank"><img
                        src="/images/facebook_icon.png" alt="Facebook" width="50px" height="50px"></a>
            </div>
            <div class="col-auto">
                Email: fluxusdev383@gmail.com
            </div>
        </div>

    </div>
</section>