<!-- Información de inicio -->
<header class="gradient-bg text-center" id="inicio">
    <div class="container mt-5">
        <h1 class="display-3 fw-semibold">
            Haz realidad tus ideas con <span id="fluxText">Flux.dev</span>
        </h1>
        <h3 class="display-5 fw-normal">Desarrollo de Software y Páginas Web</h3>
        <p class="lead fw-normal mb-5">Creamos soluciones tecnológicas a medida para tu negocio.</p>
        <a href="#contacto" class="btn btn-primary btn-lg">¡Cotiza tu proyecto!</a>
    </div>
</header>

<!-- Nosotros -->
<section id="nosotros" class="py-5">
    <div class="container">
        <h2 class="text-center mt-4 mb-5">Sobre Nosotros</h2>
        <div class="row align-items-center">
            <!-- Texto -->
            <div class="col-12 col-md-6">
                <h4 class="fw-light">
                    <span id="fluxText">Flux.dev</span> es una microempresa emergente dedicada al desarrollo de software
                    con un fuerte enfoque en
                    la innovación y la creación de soluciones digitales que marcan la diferencia. <br>
                    Nos hemos formado como un equipo comprometido con la excelencia y la búsqueda constante de nuevas
                    oportunidades
                    en un mundo tecnológico en constante evolución.
                </h4>
            </div>
            <!-- Imagen -->
            <div class="col-12 col-md-6 text-center">
                <img src="/images/robot.jpg" class="img-fluid rounded" alt="robot_imagen" width="100%">
            </div>
        </div>
</section>
<section id="valores" class="py-5">
    <h2 class="text-center mt-5 mb-4">Nuestros Valores</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 justify-content-center">
            <div class="col">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Compromiso</h4>
                    <p>Nos dedicamos a ofrecer soluciones de calidad que se alineen con las necesidades específicas de
                        cada cliente, brindando un servicio cercano, eficiente y confiable.</p>
                </div>
            </div>
            <div class="col">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Innovación</h4>
                    <p>Apostamos por el constante aprendizaje y la aplicación de nuevas tecnologías para ofrecer
                        resultados vanguardistas y de alto impacto.</p>
                </div>
            </div>
            <div class="col">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Responsabilidad</h4>
                    <p>Cada proyecto que emprendemos lo hacemos con una actitud profesional, respetando plazos,
                        presupuestos y expectativas.</p>
                </div>
            </div>
            <div class="col">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Trabajo en equipo</h4>
                    <p>Fomentamos un ambiente colaborativo tanto con nuestros clientes como dentro de nuestro equipo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Nuestras tecnologías -->
<section id="tecnologias" class="py-5">
    <h2 class="text-center mt-5 mb-4">Algunas de nuestras tecnologías</h2>
    <div class="container-fluid text-center">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col"><img class="img-fluid hover-effect" src="/images/java.png" alt="java"></div>
            <div class="col"><img class="img-fluid hover-effect" src="/images/javascript.png" alt="javascript"></div>
            <div class="col"><img class="img-fluid hover-effect" src="/images/python.png" alt="python"></div>
            <div class="col"><img class="img-fluid hover-effect" src="/images/angular.png" alt="angular"></div>
            <div class="col"><img class="img-fluid hover-effect" src="/images/react.png" alt="react"></div>
            <div class="col"><img class="img-fluid hover-effect" src="/images/node.png" alt="node js"></div>
            <div class="col"><img class="img-fluid hover-effect" src="/images/postgresql.png" alt="postgresql"></div>
            <div class="col"><img class="img-fluid hover-effect" src="/images/mysql.png" alt="mysql"></div>
            <div class="col"><img class="img-fluid hover-effect" src="/images/mongo.png" alt="mongo"></div>
        </div>
    </div>
</section>

<!-- Servicios -->
<section id="servicios" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Nuestros Servicios</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 mb-3">
                <div class="my-card text-center shadow-sm p-3">
                    <h4>Software a Medida</h4>
                    <ul class="text-start">
                        <li>Desarrollo de aplicaciones web y móviles.</li>
                        <li>Integración de nuevas tecnologías en tu negocio.</li>
                        <li>Implementación de base de datos.</li>
                        <li>Soluciones personalizadas según tus necesidades.</li>
                        <li>Automatización de tareas para aumentar la eficiencia.</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="my-card my-card2 text-center shadow-sm p-3">
                    <h4>Páginas Web</h4>
                    <ul class="text-start">
                        <li>Diseño y desarrollo de páginas web modernas y responsivas.</li>
                        <li>Páginas web estaticas.</li>
                        <li>Rediseño de páginas.</li>
                        <li>Creación de landing pages para marketing y ventas.</li>
                        <li>Mantenimiento y actualizaciones periódicas.</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="my-card my-card3 text-center shadow-sm p-3">
                    <h4>Automatización</h4>
                    <ul class="text-start">
                        <li>Generación automática de reportes y dashboards con datos en tiempo real.</li>
                        <li>Sistemas de control de acceso .</li>
                        <li>Automatización de flujos de trabajo.</li>
                        <li>Automatización de casas.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Contacto -->
<section id="contacto" class="text-center py-5 bg-dark">
    <div class="container">
        <h2>Contacto</h2>
        <p>Escríbenos en nuestras redes sociales para hacer realidad tu proyecto.</p>
        <div class="row d-flex align-items-center justify-content-center gap-2">
            <div class="col-auto">
                <a href="https://www.facebook.com/profile.php?id=61574156434583" target="_blank"><img
                        src="/images/facebook_icon.png" alt="Facebook" width="50px" height="50px"></a>
            </div>
            <div class="col-auto">
                Email: fluxusdev383@gmail.com
            </div>
        </div>

    </div>
</section>